name: 'category_service'

services:
  
  domic.category.api:
    networks:
      - domic
    image: category_service_api_image:1.0.0
    container_name: "category_service_api"
#    deploy:
#      resources:
#        limits:
#          memory: 200M
#        reservations:
#          memory: 200M
    build:
      context: .
      dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "1060-1080:443"
    volumes:
      - log:/app/CoreLogs
      - ~/services/Domic-CategoryService/.https/:/https/
#     - C:\https\:/https/
    environment:
      - Elastic-Host=http://domic.elastic.search:9200
      - Elastic-Index=category
      - Elastic-Username=domic
      - Elastic-Password=Domic123!@#
      - E-RabbitMQ-Host=domic.rabbit.mq
      - E-RabbitMQ-Port=5672
      - E-RabbitMQ-Username=domic
      - E-RabbitMQ-Password=Domic123!@#
      - I-RabbitMQ-Host=
      - I-RabbitMQ-Port=
      - I-RabbitMQ-Username=
      - I-RabbitMQ-Password=
      - E-RedisConnectionString=domic.redis:6379
      - I-RedisConnectionString=domic.redis.6379
#     - I-RedisConnectionString=domic.category.redis.6379
      - MongoConnectionString=
      - C-SqlServerConnectionString=Server=domic.sql.server,1433;Database=CategoryService;User ID=sa;Password=Domic123!@#;MultipleActiveResultSets=true;Integrated Security=false;
#     - C-SqlServerConnectionString=Server=domic.category.command.sql.server,1433;Database=CategoryService;User ID=sa;Password=Domic123!@#;MultipleActiveResultSets=true;Integrated Security=false;
      - Q-SqlServerConnectionString=
      - Host=domic.category.api
      - Port=443
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Domic123!@#
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/Domic.WebAPI.pfx
#   depends_on:
#     - domic.category.command.sql.server
#     - domic.category.redis
  
# domic.category.command.sql.server:
#   networks:
#     - domic
#   image: 'mcr.microsoft.com/mssql/server'
#   container_name: 'category_command_sql_server'
#   ports:
#     - 1434:1433
#   environment:
#     - ACCEPT_EULA=Y
#     - SA_PASSWORD=Domic123!@#

# domic.category.redis:
#   networks:
#     - domic
#   image: 'redis'
#   container_name: 'category_redis'
#   command: 'redis-server'
#   ports:
#     - 8379:6379

volumes:
  log:

networks:
  domic:
    external: true